[submodule "src/airconsole-controls"]
	path = src/airconsole-controls
	url = git@github.com:AirConsole/airconsole-controls.git
[submodule "dist/airconsole-controls"]
	path = dist/airconsole-controls
	url = git@github.com:AirConsole/airconsole-controls.git
